@import "tailwindcss";
/* optional: plugin here instead of JS config */
@plugin "tailwindcss-animate";

:root { --radius: 14px; }

html, body, #__next { height: 100%; }

body { @apply bg-white text-neutral-900 antialiased; }
body { isolation: isolate; }
.dark body { @apply bg-neutral-950 text-neutral-100; }

.bg-grid {
  background-image: radial-gradient(currentColor 1px, transparent 1px);
  background-size: 20px 20px;
  opacity: .06;
}
